:root {
  --bs-blue: #4865C1;
  --bs-purple: #6066C6;
  --bs-violet: #9193FB;
  --bs-pink: #FD8B95;
  --bs-yellow: #FDB679;
  --bs-navy: #1D2936;
  --bs-white: #fff;
  --bs-primary: #5F84FB;
  --bs-secondary: #F6F7FB;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Start header css */
.header__logo {
  color: white;
}
.header__nav {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}
.header__nav__user {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.header__nav__user img {
  height: 70%;
  width: 70%;
  border-radius: 50%;
}
.header__nav__user .user-type {
  background-color: #4f6ed3;
  padding: 0 15px;
  border-radius: 5px;
  margin-top: 5px;
}

/* End header css */
/* Start main css */
.main {
  background-color: #f6f7fb;
}
.main__sidebar {
  background-color: #ffffff;
  min-height: calc(100vh - 60px);
}
.main__sidebar ul {
  margin: 0;
  padding: 0;
}
.main__sidebar ul li {
  list-style: none;
  padding: 5px 10px;
  margin: 10px 0;
}
.main__sidebar ul li span {
  margin-left: 10px;
  font-weight: 500;
  font-size: 14px;
}
.main__sidebar ul li:first-child {
  background-color: #5f84fb;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  color: #ffffff;
}
.main__content {
  padding: 15px 40px;
}
.main__content__stats .item {
  color: white;
  padding: 20px;
  height: 120px;
  border-radius: 10px;
}
.main__content__stats .money-icon {
  margin-right: 15px;
  width: 55px;
  border-radius: 10px;
}

/* End main css */
/* Start Ulti class */
/* Background color */
.bg-blue {
  background-color: var(--bs-blue);
}

.bg-purple {
  background-color: var(--bs-purple);
}

.bg-violet {
  background-color: var(--bs-violet);
}

.bg-pink {
  background-color: var(--bs-pink);
}

.bg-yellow {
  background-color: var(--bs-yellow);
}

.bg-navy {
  background-color: var(--bs-navy);
}

.bg-white {
  background-color: var(--bs-white);
}

.bg-primary-c {
  background-color: var(--bs-primary);
}

.bg-secondary {
  background-color: var(--bs-secondary);
}

/* Other */
.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

/* End Ulti class */

/*# sourceMappingURL=style.css.map */
